@media all and (max-width: 768px) {
  h1 {
  	font-size: 2rem;
  }
}
@media all and (max-width: 768px) {
  h2 {
  	font-size: 1.5rem;
    letter-spacing: 0.5rem;
    text-indent: 0.75rem;
  }
}

/* ------------------------------------------------ */
/*                         PROMO                    */
/* ------------------------------------------------ */
@media screen and (max-width: 575px) {
  h3 {
    font-size: 1.5rem;
  }
  td {
    font-size: 0.9rem;
  }
  #promo-table {
	margin-left: 0;
  }
}

/* ------------------------------------------------ */
/*                        SERVICES                  */
/* ------------------------------------------------ */
@media all and (max-width: 768px) {
  #openMenu {
    margin-top:0;
    padding-bottom: 4rem;
  }
  h4 {
  	padding-bottom: 0;
	border-bottom:2px solid #ea0d39;
  }
}

/* -------------------- */
/*      TESTIMONIAL     */
/* -------------------- */
@media all and (max-width: 576px) {
  .carousel-textbox {
    height: 80vh;
  }
  .carousel-content {
  	word-spacing: 0;
  	letter-spacing: 0;
  }
}

/* ------------------------------------------------ */
/*                         FOOTER                   */
/* ------------------------------------------------ */
@media all and (max-width: 768px) {
  .company-data,
  .message {
    font-size: 0.7rem;
  }
}
@media all and (max-width: 576px) {
  .company-data,
  .message {
    font-size: 1rem;
  }
}




